* {
  box-sizing: border-box;
  font-family: "Noto Sans SC", "Segoe UI Variable", "Segoe UI", sans-serif;
  user-select: none;
}

body {
  font-family: "Noto Sans SC", "Microsoft YaHei", "Segoe UI Variable", "Segoe UI", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  color: var(--text-color);
  background: #202020;
  background: transparent;
}