#sidebar-container {
  display: flex;
  flex: 1;
  margin-top: 8px;
}

#content-container {
  flex: 3;
  display: block;
  margin-top: 8px;
  margin-right: 1rem;
}

.main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 12px 12px;
  overflow-y: auto;
  margin-top: 2px;
}