.main {
  display: flex;
  flex: 1;
  overflow: hidden;
  /* overflow-x: hidden; */
}

#sidebar-container {
  display: flex;
  flex: 1;
  margin-top: 8px;
}

#content-container {
  flex: 4;
  display: block;
  margin-top: 8px;
  padding-left: 1rem;
  padding-right: 1.5rem;
}

.content {
  flex: 1;
  padding: 12px 12px;
  overflow-y: auto;
  margin-top: 2px;
}